<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form name="editform" action="/Product/EditProduct" method="post" accept-charset="utf-8">
        <h1>Product - Edit</h1>
        <!-- <input type="hidden" name="id" value="<%=data[0].id  %>" /> -->
        <div>
            <div>
                    <label>Token代號(p_SYMBOL):</label>
                    <input type="text" name="p_SYMBOL" placeholder="p_SYMBOL" value="<%=data[0].p_SYMBOL %>" readonly />
            </div>
            <div>
                    <label>產品名稱(p_name):</label>
                    <input type="text" name="p_name" placeholder="p_name" value="<%=data[0].p_name %>" />
            </div>
            <div>
                    <label>產品所在地(p_location):</label>
                    <input type="text" name="p_location" placeholder="p_location" value="<%=data[0].p_location %>" />
            </div>
            <div>
                    <label>單片售價(p_pricing):</label>
                    <input type="text" name="p_pricing" placeholder="p_pricing" value="<%=data[0].p_pricing %>" />
            </div>
            <div>
                    <label>專案年數(p_duration):</label>
                    <input type="text" name="p_duration" placeholder="p_duration" value="<%=data[0].p_duration %>" />
            </div>
            <div>
                <label>貨幣種類(p_currency):</label>
                <input type="text" name="p_currency" placeholder="p_currency" value="<%=data[0].p_currency %>" />
            </div>
            <div>
                <label>預期內部報酬率(%)(p_irr):</label>
                <input type="text" name="p_irr" placeholder="p_irr" value="<%=data[0].p_irr %>" />
            </div>

            <div>
                <label>發行日(p_releasedate):</label>
                <input type="text" name="p_releasedate" placeholder="p_releasedate" value="<%=data[0].p_releasedate %>" />
            </div>
            <div>
                <label>到期日(p_validdate):</label>
                <input type="text" name="p_validdate" placeholder="p_validdate" value="<%=data[0].p_validdate %>" />
            </div>
            <div>
                <label>專案規模(p_size):</label>
                <input type="text" name="p_size" placeholder="p_size" value="<%=data[0].p_size %>" />
            </div>
            <div>
                <label>總發行量(p_totalrelease):</label>
                <input type="text" name="p_totalrelease" placeholder="p_totalrelease" value="<%=data[0].p_totalrelease %>" />
            </div>
            <div>
                <label>發行專案的產品經理(p_fundmanager):</label>
                <input type="text" name="p_fundmanager" placeholder="p_fundmanager" value="<%=data[0].p_fundmanager %>" />
            </div>
            <div>
                <label>該專案處理狀態(p_state):</label>
                <input type="text" name="p_state" placeholder="p_state" value="<%=data[0].p_state %>" />
            </div>
        </div>
        <div>
            <input type='submit' value='Submit'>
            <input type='reset' value='Reset'>
            <input type='button' value='Back' onclick="javascript: window.history.back();">
        </div>
    </form>
</body>
</html>