<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- 跟ProductAdministration共用，只有用到nowrap -->
    <link rel="stylesheet" href="/css/ProductAdministration.css">
  </head>
  <body>
    <!-- <h1>Product - List</h1> -->
    <script>
      function getReportTime(){
        var today=new Date();
    
        var currentDateTime =
    
        today.getFullYear()+'年'+
    
        (today.getMonth()+1)+'月'+
    
        today.getDate()+'日('+
    
        today.getHours()+':'+today.getMinutes()+
    
        ')';
        return currentDateTime;
      }
    </script>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Hcat電利超商 - FM資料報表</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <span class="navbar-text">
                    製表人：<%= UserID %>
                </span>
                <li class="nav-item" id="SignOut">
                  <a class="nav-link" href="#">登出</a>
                </li>
              </ul>
            </div>
  </nav>

<div class="table-responsive">
    <table class="table table-hover table-striped" id="SalesReport">
        <tr class="bg-primary" style="color:white;">
            <th class="nowrap">公司名稱</th>
            <th class="nowrap">公司統編</th>
            <th class="nowrap">Email</th>
            <th class="nowrap">權限</th>
        </tr>
        <% for ( var i = 0 ; i < data.length ; i++){ %>
            <tr>
                <td>
                    <%= data[i].m_company %>
                </td>
                <td>
                  NA
              </td>
                <td>
                    <%= data[i].m_email  %>
                </td>
                <td>
                    <%= data[i].m_permission  %>
                </td>
            </tr>
        <% } %>
    </table>
</div>


<script src="/js/tablefilter/tablefilter.js"></script>

<script data-config>
    var filtersConfig = {
        base_path: '/js/tablefilter/',
        col_0: 'select',
        alternate_rows: true,
        rows_counter: true,
        btn_reset: true,
        loader: true,
        status_bar: true,
        mark_active_columns: true,
        highlight_keywords: true,
        col_types: [
            'string','string', 'string', 'string'
        ],
        extensions:[{ name: 'sort' }]
    };

    var tf = new TableFilter('SalesReport', filtersConfig);
    tf.init();

</script>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="/js/SignOut.js"></script>
  </body>
</html>
