<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/ProductAdministration.css">
</head>

<body>
    <!-- <h1>Product - List</h1> -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">HeliumCryptic</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <span class="navbar-text">
                    歡迎<%= UserID %>
                </span>
                <li class="nav-item" id="SignOut">
                    <a class="nav-link" href="#">登出</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- 租金發放審核區：假如ia_State==ia_state_underReview >0，才顯示 -->
    <% if (iaData.length>0 ) { %>
    <div class="tableTitle bg-warning Region"
        style="width:100%;height:50px;line-height:50px;text-align: center;font-size:20px;color:white;border-top:0.5px solid white;">
        <i class="fas fa-plus" style="display: none;"></i>
        <i class="fas fa-minus"></i>
        <span style="margin-left:15px;">上租金發放審核區</span>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <tr class="bg-warning" style="color:white;">
                <th class="nowrap">Token代號</th>
                <th class="nowrap">校正前發放時間</th>
                <th class="nowrap">校正後發放時間</th>
                <th class="nowrap">校正前發放金額</th>
                <th class="nowrap">校正後發放金額</th>
                <th class="nowrap">審核</th>
            </tr>
            <% for ( var i = 0 ; i < iaData.length ; i++){ %>
            <tr>
                <td>
                    <form hidden name="correctActualPaymentForm" id="correctActualPaymentForm"
                        action="/Product/CorrectActualPaymentResult" method="post" accept-charset="utf-8">
                        <div class="modal-body">
                            Token代號：<input type="text" readonly="readonly" id="CorrectActualPaymentTokenSymbol" name="CorrectActualPaymentTokenSymbol"> <br><br>
                            校正前時間：<input type="text" readonly="readonly" id="OriginalPaymentTime" name="OriginalPaymentTime"> <br><br>
                            校正金額：<input type="text" id="CorrectActualPaymentNumber" name="CorrectActualPaymentNumber"><br><br>
                            校正結果：<input type="text" id="CorrectActualPaymentResult" name="CorrectActualPaymentResult">
                        </div>
                    </form>
                    <%= iaData[i].ia_SYMBOL  %>
                </td>
                <td>
                    <%= iaData[i].ia_time  %>
                </td>
                <td>
                    <%= iaData[i].ia_actualPaymentTime  %>
                </td>
                <td>
                    <%= iaData[i].ia_single_Forecasted_Payable_Income_in_the_Period  %>
                </td>
                <td>
                    <%= iaData[i].ia_single_Actual_Income_Payment_in_the_Period  %>
                </td>
                <td>
                    <button type="button" class="btn btn-success"
                        onclick="correctActualPayment('<%= iaData[i].ia_SYMBOL  %>','<%= iaData[i].ia_time  %>','<%= iaData[i].ia_single_Actual_Income_Payment_in_the_Period  %>','ia_state_approved')">通過</button>&nbsp;&nbsp;&nbsp;&nbsp;<button
                        type="button" class="btn btn-danger"
                        onclick="correctActualPayment('<%= iaData[i].ia_SYMBOL  %>','<%= iaData[i].ia_time  %>','<%= iaData[i].ia_single_Actual_Income_Payment_in_the_Period  %>','ia_state_unapproved')">退回</button>
                </td>
            </tr>
            <% } %>
        </table>
    </div>
    <% } %>


    <!-- 平台方待審核區：假如publish狀態的產品數量>0，才顯示 -->
    <% var count=0 %>
    <% for ( var i = 0 ; i < data.length ; i++){ %>
    <%if (data[i].p_state =="publish" ) { %>
    <% count++; %>
    <% } %>
    <% } %>
    <%if (count>0 ) { %>
    <div class="tableTitle bg-warning Region"
        style="width:100%;height:50px;line-height:50px;text-align: center;font-size:20px;color:white;border-top:0.5px solid white;">
        <i class="fas fa-plus" style="display: none;"></i>
        <i class="fas fa-minus"></i>
        <span style="margin-left:15px;">上架待審核區</span>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <tr class="bg-warning" style="color:white;">
                <th class="nowrap">Token代號</th>
                <th class="nowrap">產品名稱</th>
                <th class="nowrap">產品所在地</th>
                <th class="nowrap">產品定價</th>
                <th class="nowrap">幣別</th>
                <th class="nowrap">專案年期</th>
                <th class="nowrap">預期報酬率(%)</th>
                <!--  -->
                <th class="nowrap">專案開始日期</th>
                <th class="nowrap">FMS審核通過的日期</th>
                <!-- <th class="nowrap">PA審核通過的日期</th> -->
                <th class="nowrap">募資起始日</th>
                <th class="nowrap">募資截止日</th>
                <!--  -->
                <th class="nowrap">產品發行日</th>
                <th class="nowrap">產品到期日</th>
                <th class="nowrap">專案規模(kw)</th>
                <th class="nowrap">產品總發行量(個)</th>
                <th class="nowrap">發行專案的產品經理</th>
                <th class="nowrap">該專案處理狀態</th>
                <!-- <th class="nowrap">預估平均年收益</th> -->
                <!-- <th class="nowrap">預估回收金額</th> -->
                <th class="nowrap">收益總期數</th>
                <th class="nowrap">預估回收年限</th>
                <!-- <th class="nowrap">預估進度圖</th> -->
                <th class="nowrap">購售電合約</th>
                <th class="nowrap">CSV文件</th>
                <th class="nowrap">產品icon</th>
                <th class="nowrap">退回</th>
                <th class="nowrap">上架</th>
                <!-- <th class="nowrap">達標</th> -->
            </tr>

            <% for ( var i = 0 ; i < data.length ; i++){ %>
            <%if (data[i].p_state =="publish" ) { %>
            <tr>
                <td>
                    <%= data[i].p_SYMBOL  %>
                </td>
                <td>
                    <%= data[i].p_name  %>
                </td>
                <td>
                    <%= data[i].p_location  %>
                </td>
                <td>
                    <%= data[i].p_pricing  %>
                </td>
                <td>
                    <%= data[i].p_currency  %>
                </td>
                <td>
                    <%= data[i].p_duration  %>
                </td>
                <td>
                    <%= data[i].p_irr  %>
                </td>
                <!--  -->
                <td>
                    <%= data[i].p_PSD  %>
                </td>
                <td>
                    <%= data[i].p_FMXAdate  %>
                </td>
                <!-- <td>
                                                    <%= data[i].p_PAdate  %>
                                                </td> -->
                <td>
                    <%= data[i].p_CFSD  %>
                </td>
                <td>
                    <%= data[i].p_CFED  %>
                </td>
                <!--  -->

                <td>
                    <%= data[i].p_releasedate  %>
                </td>
                <td>
                    <%= data[i].p_validdate  %>
                </td>
                <td>
                    <%= data[i].p_size  %>
                </td>
                <td>
                    <%= data[i].p_totalrelease  %>
                </td>
                <td>
                    <%= data[i].p_fundmanager  %>
                </td>
                <td>
                    <%= data[i].p_state  %>
                </td>
                <!-- <td>
                    <%= data[i].p_FAY  %>
                </td> -->
                <!-- <td>
                    <%= data[i].p_FTRT  %>
                </td> -->
                <td>
                    <%= data[i].p_RPT  %>
                </td>
                <td>
                    <%= data[i].p_FRP  %>
                </td>
                <!-- <td>
                    <%= data[i].p_Timeline  %>
                </td> -->
                <td>
                    <%if (data[i].p_assetdocs != null && data[i].p_assetdocs !="") { %>
                    <a target="_blank"
                        href="<%= process.env['SERVER_PROTOCOL'] + '://' + process.env['SERVER_HOST'] + ':' + process.env['SERVER_PORT'] + '/' + data[i].p_assetdocs.replace('public','')  %>">doc</a>
                    <% } %>
                </td>
                <td>
                    <%if (data[i].p_csvFIle != null && data[i].p_csvFIle !="") { %>
                    <a target="_blank"
                        href=<a target="_blank" href="<%= process.env['SERVER_PROTOCOL'] + '://' + process.env['SERVER_HOST'] + ':' + process.env['SERVER_PORT'] + '/' + data[i].p_csvFIle.replace('public','')  %>">CSV</a>
                    <% } %>
                </td>
                <td>
                    <%if (data[i].p_icon != null && data[i].p_icon !="") { %>
                    <img src=<a target="_blank" href="<%= process.env['SERVER_PROTOCOL'] + '://' + process.env['SERVER_HOST'] + ':' + process.env['SERVER_PORT'] + '/' + data[i].p_icon.replace('public','')  %>" alt=""
                        style="width:50%;">
                    <% } %>
                </td>
                <td>
                    <!-- <input type="button" name="return" value="return" onclick="Edit('<%= data[i].p_SYMBOL  %>','creation');" /> -->
                    <!-- <button type="button" class="btn btn-success" name="return" value="return" onclick="Edit('<%= data[i].p_SYMBOL  %>','creation');">退回</button> -->
                    <button type="button" class="btn btn-success" name="return" value="return" data-toggle="modal"
                        data-target="#exampleModal" data-whatever="@mdo"
                        onclick="SetCurrentSYMBOL('<%= data[i].p_SYMBOL  %>');">退回</button>
                </td>
                <td>
                    <button type="button" class="btn btn-success" id="fund<%= i %>" name="funding" value="funding"
                        onclick="Fund('<%= data[i].p_SYMBOL  %>','<%= data[i].p_pricing  %>','<%= data[i].p_currency  %>','<%= data[i].p_totalrelease  %>','<%= data[i].p_CFSD  %>','<%= data[i].p_CFED  %>','<%= data[i].p_fundingGoal  %>','funding','<%= data[i].p_csvFIle  %>',this.id);">上架</button>
                </td>

                <!-- <td>
                                                    <button type="button" class="btn btn-success" name="archive" value="archive" onclick="Edit('<%= data[i].p_SYMBOL  %>','archive');">達標</button>
                                                </td> -->
            </tr>
            <% } %>
            <% } %>


        </table>
    </div>
    <% } %>

    <!-- 募資區：假如funding狀態的產品數量>0，才顯示 -->
    <% var count=0 %>
    <% for ( var i = 0 ; i < data.length ; i++){ %>
    <%if (data[i].p_state =="funding" ) { %>
    <% count++; %>
    <% } %>
    <% } %>
    <%if (count>0 ) { %>
    <div class="tableTitle bg-primary Region"
        style="width:100%;height:50px;line-height:50px;text-align: center;font-size:20px;color:white;border-top:0.5px solid white;">
        <i class="fas fa-plus" style="display: none;"></i>
        <i class="fas fa-minus"></i>
        <span style="margin-left:15px;">募資區</span>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <tr class="bg-primary" style="color:white;">
                <th class="nowrap">Token代號</th>
                <th class="nowrap">產品名稱</th>
                <th class="nowrap">產品所在地</th>
                <th class="nowrap">產品定價</th>
                <th class="nowrap">幣別</th>
                <th class="nowrap">專案年期</th>
                <th class="nowrap">預期報酬率(%)</th>
                <!--  -->
                <th class="nowrap">專案開始日期</th>
                <th class="nowrap">FMS審核通過的日期</th>
                <th class="nowrap">PA審核通過的日期</th>
                <th class="nowrap">募資起始日</th>
                <th class="nowrap">募資截止日</th>
                <!--  -->
                <th class="nowrap">產品發行日</th>
                <th class="nowrap">產品到期日</th>
                <th class="nowrap">專案規模(kw)</th>
                <th class="nowrap">產品總發行量(個)</th>
                <th class="nowrap">發行專案的產品經理</th>
                <th class="nowrap">該專案處理狀態</th>
                <!-- <th class="nowrap">預估平均年收益</th> -->
                <!-- <th class="nowrap">預估回收金額</th> -->
                <th class="nowrap">收益總期數</th>
                <th class="nowrap">預估回收年限</th>
                <!-- <th class="nowrap">預估進度圖</th> -->
                <th class="nowrap">購售電合約</th>
                <th class="nowrap">產品icon</th>
                <!-- <th class="nowrap">退回</th> -->
                <!-- <th class="nowrap">募資</th> -->
                <th class="nowrap">結束募資</th>
                <!-- <th class="nowrap">募資成功</th>
                <th class="nowrap">募資失敗</th> -->
                <!-- <th class="nowrap">發放Token</th> -->
                <th class="nowrap">暫停</th>
            </tr>
            <% for ( var i = 0 ; i < data.length ; i++){ %>
            <%if (data[i].p_state =="funding") { %>
            <tr>
                <td>
                    <%= data[i].p_SYMBOL  %>
                </td>
                <td>
                    <%= data[i].p_name  %>
                </td>
                <td>
                    <%= data[i].p_location  %>
                </td>
                <td>
                    <%= data[i].p_pricing  %>
                </td>
                <td>
                    <%= data[i].p_currency  %>
                </td>
                <td>
                    <%= data[i].p_duration  %>
                </td>
                <td>
                    <%= data[i].p_irr  %>
                </td>
                <!--  -->
                <td>
                    <%= data[i].p_PSD  %>
                </td>
                <td>
                    <%= data[i].p_FMXAdate  %>
                </td>
                <td>
                    <%= data[i].p_PAdate  %>
                </td>
                <td>
                    <%= data[i].p_CFSD  %>
                </td>
                <td>
                    <%= data[i].p_CFED  %>
                </td>
                <!--  -->

                <td>
                    <%= data[i].p_releasedate  %>
                </td>
                <td>
                    <%= data[i].p_validdate  %>
                </td>
                <td>
                    <%= data[i].p_size  %>
                </td>
                <td>
                    <%= data[i].p_totalrelease  %>
                </td>
                <td>
                    <%= data[i].p_fundmanager  %>
                </td>
                <td>
                    <%= data[i].p_state  %>
                </td>
                <!-- <td>
                    <%= data[i].p_FAY  %>
                </td> -->
                <!-- <td>
                    <%= data[i].p_FTRT  %>
                </td> -->
                <td>
                    <%= data[i].p_RPT  %>
                </td>
                <td>
                    <%= data[i].p_FRP  %>
                </td>
                <!-- <td>
                    <%= data[i].p_Timeline  %>
                </td> -->
                <td>
                    <%if (data[i].p_assetdocs != null && data[i].p_assetdocs !="") { %>
                    <a target="_blank"
                        href="<%= process.env['SERVER_PROTOCOL'] + '://' + process.env['SERVER_HOST'] + ':' + process.env['SERVER_PORT'] + '/' + data[i].p_assetdocs.replace('public','')  %>">doc</a>
                    <% } %>
                </td>
                <td>
                    <%if (data[i].p_icon != null && data[i].p_icon !="") { %>
                    <img src="<%= process.env['SERVER_PROTOCOL'] + '://' + process.env['SERVER_HOST'] + ':' + process.env['SERVER_PORT'] + '/' + data[i].p_icon.replace('public','')  %>" alt=""
                        style="width:50%;">
                    <% } %>
                </td>
                <!-- <td>
                    <button type="button" class="btn btn-success" name="return" value="return"
                        onclick="Edit('<%= data[i].p_SYMBOL  %>','publish');">退回</button>
                </td> -->
                <!-- <td>
                    <button type="button" class="btn btn-success" name="funding" value="funding"
                        onclick="Fund('<%= data[i].p_SYMBOL  %>','<%= data[i].p_pricing  %>','<%= data[i].p_currency  %>','<%= data[i].p_totalrelease  %>','<%= data[i].p_CFSD  %>','<%= data[i].p_CFED  %>','<%= data[i].p_fundingGoal  %>','funding');">募資</button>
                </td> -->
                <td>
                    <button type="button" style="width: 90px;" class="btn btn-success" name="archive"
                        id="FundingFinished<%= i %>" value="archive"
                        onclick="FundingFinished('<%= data[i].p_name  %>','<%= data[i].p_SYMBOL  %>','<%= data[i].p_totalrelease  %>','<%= data[i].p_pricing  %>','<%= data[i].p_currency  %>','<%= data[i].p_size  %>','<%= data[i].p_irr  %>',this.id,'<%= data[i].p_releasedate  %>','<%= data[i].p_validdate  %>','<%= data[i].p_lockupperiod  %>','<%= data[i].p_HCAT721uri  %>')">募資結束
                    </button>
                </td>
                <!-- <td>
                    <button type="button" style="width: 90px;" class="btn btn-success" name="archive"
                        id="FundingComplete<%= i %>" value="archive"
                        onclick="FundingComplete('<%= data[i].p_name  %>','<%= data[i].p_SYMBOL  %>','<%= data[i].p_totalrelease  %>','<%= data[i].p_pricing  %>','<%= data[i].p_currency  %>','<%= data[i].p_size  %>','<%= data[i].p_irr  %>','FundingClosed',this.id,'<%= data[i].p_releasedate  %>','<%= data[i].p_validdate  %>','<%= data[i].p_lockupperiod  %>','<%= data[i].p_HCAT721uri  %>');">募資成功
                    </button>
                </td>
                <td>
                    <button type="button" style="width: 101.25px;" id="paused<%= i %>" class="btn btn-danger"
                        name="FundingNotClosed" value="FundingNotClosed"
                        onclick="FundingNotClosed('<%= data[i].p_SYMBOL  %>','FundingNotClosed',this.id);">募資失敗
                    </button>
                </td> -->
                <!-- <td>
                    <%if (data[i].p_state == "funding" || data[i].p_state == "TokenReleased") { %>
                    <button type="button" style="width: 101.25px;" id="releaseToken<%= i %>" disabled
                        class="btn btn-success" name="release" value="release"
                        onclick="Release('<%= data[i].p_SYMBOL  %>','TokenReleased',this.id);">發放Token</button>
                    <% }else if (data[i].p_state == "FundingComplete"){ %>
                    <button type="button" style="width: 101.25px;" id="releaseToken<%= i %>" class="btn btn-success"
                        name="release" value="release"
                        onclick="Release('<%= data[i].p_SYMBOL  %>','TokenReleased',this.id);">發放Token</button>
                    <% } %>
                </td> -->
                <td>
                    <button type="button" style="width: 101.25px;" id="paused<%= i %>" class="btn btn-danger"
                        name="FundingPaused" value="FundingPaused"
                        onclick="FundingPaused('<%= data[i].p_SYMBOL  %>','FundingPaused',this.id);">暫停
                    </button>
                </td>
            </tr>
            <% } %>
            <% } %>
        </table>
    </div>
    <% } %>

    <!-- 暫停區：假如FundingPaused狀態的產品數量>0，才顯示 -->
    <% var count=0 %>
    <% for ( var i = 0 ; i < data.length ; i++){ %>
    <%if (data[i].p_state =="FundingPaused" ) { %>
    <% count++; %>
    <% } %>
    <% } %>
    <%if (count>0 ) { %>
    <div class="tableTitle bg-warning Region"
        style="width:100%;height:50px;line-height:50px;text-align: center;font-size:20px;color:white;border-top:0.5px solid white;">
        <i class="fas fa-plus" style="display: none;"></i>
        <i class="fas fa-minus"></i>
        <span style="margin-left:15px;">暫停區</span>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <tr class="bg-warning" style="color:white;">
                <th class="nowrap">Token代號</th>
                <th class="nowrap">產品名稱</th>
                <th class="nowrap">產品所在地</th>
                <th class="nowrap">產品定價</th>
                <th class="nowrap">幣別</th>
                <th class="nowrap">專案年期</th>
                <th class="nowrap">預期報酬率(%)</th>
                <th class="nowrap">專案開始日期</th>
                <th class="nowrap">FMS審核通過的日期</th>
                <th class="nowrap">募資起始日</th>
                <th class="nowrap">募資截止日</th>
                <th class="nowrap">產品發行日</th>
                <th class="nowrap">產品到期日</th>
                <th class="nowrap">專案規模(kw)</th>
                <th class="nowrap">產品總發行量(個)</th>
                <th class="nowrap">發行專案的產品經理</th>
                <th class="nowrap">該專案處理狀態</th>
                <!-- <th class="nowrap">預估平均年收益</th> -->
                <!-- <th class="nowrap">預估回收金額</th> -->
                <th class="nowrap">收益總期數</th>
                <th class="nowrap">預估回收年限</th>
                <!-- <th class="nowrap">預估進度圖</th> -->
                <th class="nowrap">購售電合約</th>
                <th class="nowrap">產品icon</th>
                <th class="nowrap">恢復募資</th>
                <th class="nowrap">緊急下架</th>
            </tr>
            <% for ( var i = 0 ; i < data.length ; i++){ %>
            <%if (data[i].p_state =="FundingPaused" ) { %>
            <tr>
                <td>
                    <%= data[i].p_SYMBOL  %>
                </td>
                <td>
                    <%= data[i].p_name  %>
                </td>
                <td>
                    <%= data[i].p_location  %>
                </td>
                <td>
                    <%= data[i].p_pricing  %>
                </td>
                <td>
                    <%= data[i].p_currency  %>
                </td>
                <td>
                    <%= data[i].p_duration  %>
                </td>
                <td>
                    <%= data[i].p_irr  %>
                </td>
                <td>
                    <%= data[i].p_PSD  %>
                </td>
                <td>
                    <%= data[i].p_FMXAdate  %>
                </td>
                <td>
                    <%= data[i].p_CFSD  %>
                </td>
                <td>
                    <%= data[i].p_CFED  %>
                </td>
                <td>
                    <%= data[i].p_releasedate  %>
                </td>
                <td>
                    <%= data[i].p_validdate  %>
                </td>
                <td>
                    <%= data[i].p_size  %>
                </td>
                <td>
                    <%= data[i].p_totalrelease  %>
                </td>
                <td>
                    <%= data[i].p_fundmanager  %>
                </td>
                <td>
                    <%= data[i].p_state  %>
                </td>
                <!-- <td>
                    <%= data[i].p_FAY  %>
                </td> -->
                <!-- <td>
                    <%= data[i].p_FTRT  %>
                </td> -->
                <td>
                    <%= data[i].p_RPT  %>
                </td>
                <td>
                    <%= data[i].p_FRP  %>
                </td>
                <!-- <td>
                    <%= data[i].p_Timeline  %>
                </td> -->
                <td>
                    <%if (data[i].p_assetdocs != null && data[i].p_assetdocs !="") { %>
                    <a target="_blank"
                        href="<%= process.env['SERVER_PROTOCOL'] + '://' + process.env['SERVER_HOST'] + ':' + process.env['SERVER_PORT'] + '/' + data[i].p_assetdocs.replace('public','')  %>">doc</a>
                    <% } %>
                </td>
                <td>
                    <%if (data[i].p_icon != null && data[i].p_icon !="") { %>
                    <img src="<%= process.env['SERVER_PROTOCOL'] + '://' + process.env['SERVER_HOST'] + ':' + process.env['SERVER_PORT'] + '/' + data[i].p_icon.replace('public','')  %>" alt=""
                        style="width:50%;">
                    <% } %>
                </td>
                <td>
                    <button type="button" style="width: 101.25px;" id="FundingRestart<%= i %>" class="btn btn-success"
                        name="FundingRestart" value="FundingRestart"
                        onclick="FundingRestart('<%= data[i].p_SYMBOL  %>','funding',this.id,'<%= data[i].p_CFED  %>','<%= data[i].p_totalrelease  %>');">恢復募資
                    </button>
                </td>
                <td>
                    <button type="button" style="width: 101.25px;" id="paused<%= i %>" class="btn btn-danger"
                        name="Aborted" value="Aborted" data-toggle="modal" data-target="#abortedReasonModal"
                        data-whatever="@mdo"
                        onclick="SetCurrentSYMBOL('<%= data[i].p_SYMBOL  %>');SetCurrentButtonID(this.id);">緊急下架
                    </button>
                </td>
            </tr>
            <% } %>
            <% } %>
        </table>
    </div>
    <% } %>

    <!-- 緊急下架區：假如aborted狀態的產品數量>0，才顯示 -->
    <% var count=0 %>
    <% for ( var i = 0 ; i < data.length ; i++){ %>
    <%if (data[i].p_state =="aborted" ) { %>
    <% count++; %>
    <% } %>
    <% } %>
    <%if (count>0 ) { %>
    <div class="tableTitle bg-danger Region"
        style="width:100%;height:50px;line-height:50px;text-align: center;font-size:20px;color:white;border-top:0.5px solid white;">
        <i class="fas fa-plus" style="display: none;"></i>
        <i class="fas fa-minus"></i>
        <span style="margin-left:15px;">緊急下架區</span>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <tr class="bg-danger" style="color:white;">
                <th class="nowrap">Token代號</th>
                <th class="nowrap">產品名稱</th>
                <th class="nowrap">產品所在地</th>
                <th class="nowrap">產品定價</th>
                <th class="nowrap">幣別</th>
                <th class="nowrap">專案年期</th>
                <th class="nowrap">預期報酬率(%)</th>
                <th class="nowrap">專案開始日期</th>
                <th class="nowrap">FMS審核通過的日期</th>
                <th class="nowrap">募資起始日</th>
                <th class="nowrap">募資截止日</th>
                <th class="nowrap">產品發行日</th>
                <th class="nowrap">產品到期日</th>
                <th class="nowrap">專案規模(kw)</th>
                <th class="nowrap">產品總發行量(個)</th>
                <th class="nowrap">發行專案的產品經理</th>
                <th class="nowrap">該專案處理狀態</th>
                <!-- <th class="nowrap">預估平均年收益</th> -->
                <!-- <th class="nowrap">預估回收金額</th> -->
                <th class="nowrap">收益總期數</th>
                <th class="nowrap">預估回收年限</th>
                <!-- <th class="nowrap">預估進度圖</th> -->
                <th class="nowrap">購售電合約</th>
                <th class="nowrap">產品icon</th>
            </tr>
            <% for ( var i = 0 ; i < data.length ; i++){ %>
            <%if (data[i].p_state =="aborted" ) { %>
            <tr>
                <td>
                    <%= data[i].p_SYMBOL  %>
                </td>
                <td>
                    <%= data[i].p_name  %>
                </td>
                <td>
                    <%= data[i].p_location  %>
                </td>
                <td>
                    <%= data[i].p_pricing  %>
                </td>
                <td>
                    <%= data[i].p_currency  %>
                </td>
                <td>
                    <%= data[i].p_duration  %>
                </td>
                <td>
                    <%= data[i].p_irr  %>
                </td>
                <td>
                    <%= data[i].p_PSD  %>
                </td>
                <td>
                    <%= data[i].p_FMXAdate  %>
                </td>
                <td>
                    <%= data[i].p_CFSD  %>
                </td>
                <td>
                    <%= data[i].p_CFED  %>
                </td>
                <td>
                    <%= data[i].p_releasedate  %>
                </td>
                <td>
                    <%= data[i].p_validdate  %>
                </td>
                <td>
                    <%= data[i].p_size  %>
                </td>
                <td>
                    <%= data[i].p_totalrelease  %>
                </td>
                <td>
                    <%= data[i].p_fundmanager  %>
                </td>
                <td>
                    <%= data[i].p_state  %>
                </td>
                <!-- <td>
                    <%= data[i].p_FAY  %>
                </td> -->
                <!-- <td>
                    <%= data[i].p_FTRT  %>
                </td> -->
                <td>
                    <%= data[i].p_RPT  %>
                </td>
                <td>
                    <%= data[i].p_FRP  %>
                </td>
                <!-- <td>
                    <%= data[i].p_Timeline  %>
                </td> -->
                <td>
                    <%if (data[i].p_assetdocs != null && data[i].p_assetdocs !="") { %>
                    <a target="_blank"
                        href="<%= process.env['SERVER_PROTOCOL'] + '://' + process.env['SERVER_HOST'] + ':' + process.env['SERVER_PORT'] + '/' + data[i].p_assetdocs.replace('public','')  %>">doc</a>
                    <% } %>
                </td>
                <td>
                    <%if (data[i].p_icon != null && data[i].p_icon !="") { %>
                    <img src="<%= process.env['SERVER_PROTOCOL'] + '://' + process.env['SERVER_HOST'] + ':' + process.env['SERVER_PORT'] + '/' + data[i].p_icon.replace('public','')  %>" alt=""
                        style="width:50%;">
                    <% } %>
                </td>
            </tr>
            <% } %>
            <% } %>
        </table>
    </div>
    <% } %>

    <!-- (募資成功區)代幣待發放區：假如FundingClosed狀態的產品數量>0，才顯示 -->
    <% var count=0 %>
    <% for ( var i = 0 ; i < data.length ; i++){ %>
    <%if (data[i].p_state =="FundingClosed" ) { %>
    <% count++; %>
    <% } %>
    <% } %>
    <%if (count>0 ) { %>
    <div class="tableTitle bg-success Region"
        style="width:100%;height:50px;line-height:50px;text-align: center;font-size:20px;color:white;border-top:0.5px solid white;">
        <i class="fas fa-plus" style="display: none;"></i>
        <i class="fas fa-minus"></i>
        <span style="margin-left:15px;">代幣待發放區</span>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <tr class="bg-success" style="color:white;">
                <th class="nowrap">Token代號</th>
                <th class="nowrap">產品名稱</th>
                <th class="nowrap">產品所在地</th>
                <th class="nowrap">產品定價</th>
                <th class="nowrap">幣別</th>
                <th class="nowrap">專案年期</th>
                <th class="nowrap">預期報酬率(%)</th>
                <th class="nowrap">專案開始日期</th>
                <th class="nowrap">FMS審核通過的日期</th>
                <th class="nowrap">募資起始日</th>
                <th class="nowrap">募資截止日</th>
                <th class="nowrap">產品發行日</th>
                <th class="nowrap">產品到期日</th>
                <th class="nowrap">專案規模(kw)</th>
                <th class="nowrap">產品總發行量(個)</th>
                <th class="nowrap">發行專案的產品經理</th>
                <th class="nowrap">p_fundingType</th>
                <th class="nowrap">該專案處理狀態</th>
                <!-- <th class="nowrap">預估平均年收益</th> -->
                <!-- <th class="nowrap">預估回收金額</th> -->
                <th class="nowrap">收益總期數</th>
                <th class="nowrap">預估回收年限</th>
                <!-- <th class="nowrap">預估進度圖</th> -->
                <th class="nowrap">購售電合約</th>
                <th class="nowrap">產品icon</th>
                <th class="nowrap">發放代幣</th>
                <th class="nowrap">緊急下架</th>
            </tr>
            <% for ( var i = 0 ; i < data.length ; i++){ %>
            <%if (data[i].p_state =="FundingClosed" ) { %>
            <tr>
                <td>
                    <%= data[i].p_SYMBOL  %>
                </td>
                <td>
                    <%= data[i].p_name  %>
                </td>
                <td>
                    <%= data[i].p_location  %>
                </td>
                <td>
                    <%= data[i].p_pricing  %>
                </td>
                <td>
                    <%= data[i].p_currency  %>
                </td>
                <td>
                    <%= data[i].p_duration  %>
                </td>
                <td>
                    <%= data[i].p_irr  %>
                </td>
                <td>
                    <%= data[i].p_PSD  %>
                </td>
                <td>
                    <%= data[i].p_FMXAdate  %>
                </td>
                <td>
                    <%= data[i].p_CFSD  %>
                </td>
                <td>
                    <%= data[i].p_CFED  %>
                </td>
                <td>
                    <%= data[i].p_releasedate  %>
                </td>
                <td>
                    <%= data[i].p_validdate  %>
                </td>
                <td>
                    <%= data[i].p_size  %>
                </td>
                <td>
                    <%= data[i].p_totalrelease  %>
                </td>
                <td>
                    <%= data[i].p_fundmanager  %>
                </td>
                <td>
                    <%= data[i].p_fundingType  %>
                </td>
                <td>
                    <%= data[i].p_state  %>
                </td>
                <!-- <td>
                    <%= data[i].p_FAY  %>
                </td> -->
                <!-- <td>
                    <%= data[i].p_FTRT  %>
                </td> -->
                <td>
                    <%= data[i].p_RPT  %>
                </td>
                <td>
                    <%= data[i].p_FRP  %>
                </td>
                <!-- <td>
                    <%= data[i].p_Timeline  %>
                </td> -->
                <td>
                    <%if (data[i].p_assetdocs != null && data[i].p_assetdocs !="") { %>
                    <a target="_blank"
                        href="<%= process.env['SERVER_PROTOCOL'] + '://' + process.env['SERVER_HOST'] + ':' + process.env['SERVER_PORT'] + '/' + data[i].p_assetdocs.replace('public','')  %>">doc</a>
                    <% } %>
                </td>
                <td>
                    <%if (data[i].p_icon != null && data[i].p_icon !="") { %>
                    <img src="<%= process.env['SERVER_PROTOCOL'] + '://' + process.env['SERVER_HOST'] + ':' + process.env['SERVER_PORT'] + '/' + data[i].p_icon.replace('public','')  %>" alt=""
                        style="width:50%;">
                    <% } %>
                </td>
                <td>
                    <button type="button" style="width: 101.25px;" id="releaseToken<%= i %>" class="btn btn-success"
                        name="release" value="release"
                        onclick="MintTokens('<%= data[i].p_SYMBOL  %>','<%= data[i].p_pricing  %>','<%= data[i].p_fundingType  %>','ONM',this.id);">發放代幣</button>
                </td>
                <td>
                    <button type="button" style="width: 101.25px;" id="paused<%= i %>" class="btn btn-danger"
                        name="Aborted" value="Aborted" data-toggle="modal" data-target="#abortedReasonModal"
                        data-whatever="@mdo" onclick="SetCurrentSYMBOL('<%= data[i].p_SYMBOL  %>');">緊急下架
                    </button>
                    <!-- <button type="button" style="width: 101.25px;" id="paused<%= i %>" class="btn btn-danger"
                        name="Aborted" value="Aborted"
                        onclick="Aborted('<%= data[i].p_SYMBOL  %>','aborted',this.id);">緊急下架
                    </button> -->
                </td>
            </tr>
            <% } %>
            <% } %>
        </table>
    </div>
    <% } %>

    <!-- 募資失敗區：假如FundingNotClosed狀態的產品數量>0，才顯示 -->
    <% var count=0 %>
    <% for ( var i = 0 ; i < data.length ; i++){ %>
    <%if (data[i].p_state =="FundingNotClosed" ) { %>
    <% count++; %>
    <% } %>
    <% } %>
    <%if (count>0 ) { %>
    <div class="tableTitle bg-danger Region"
        style="width:100%;height:50px;line-height:50px;text-align: center;font-size:20px;color:white;border-top:0.5px solid white;">
        <i class="fas fa-plus" style="display: none;"></i>
        <i class="fas fa-minus"></i>
        <span style="margin-left:15px;">募資失敗區</span>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <tr class="bg-danger" style="color:white;">
                <th class="nowrap">Token代號</th>
                <th class="nowrap">產品名稱</th>
                <th class="nowrap">產品所在地</th>
                <th class="nowrap">產品定價</th>
                <th class="nowrap">幣別</th>
                <th class="nowrap">專案年期</th>
                <th class="nowrap">預期報酬率(%)</th>
                <th class="nowrap">專案開始日期</th>
                <th class="nowrap">FMS審核通過的日期</th>
                <th class="nowrap">募資起始日</th>
                <th class="nowrap">募資截止日</th>
                <th class="nowrap">產品發行日</th>
                <th class="nowrap">產品到期日</th>
                <th class="nowrap">專案規模(kw)</th>
                <th class="nowrap">產品總發行量(個)</th>
                <th class="nowrap">發行專案的產品經理</th>
                <th class="nowrap">該專案處理狀態</th>
                <!-- <th class="nowrap">預估平均年收益</th> -->
                <!-- <th class="nowrap">預估回收金額</th> -->
                <th class="nowrap">收益總期數</th>
                <th class="nowrap">預估回收年限</th>
                <!-- <th class="nowrap">預估進度圖</th> -->
                <th class="nowrap">購售電合約</th>
                <th class="nowrap">產品icon</th>
                <th class="nowrap">退款</th>
            </tr>
            <% for ( var i = 0 ; i < data.length ; i++){ %>
            <%if (data[i].p_state =="FundingNotClosed" ) { %>
            <tr>
                <td>
                    <%= data[i].p_SYMBOL  %>
                </td>
                <td>
                    <%= data[i].p_name  %>
                </td>
                <td>
                    <%= data[i].p_location  %>
                </td>
                <td>
                    <%= data[i].p_pricing  %>
                </td>
                <td>
                    <%= data[i].p_currency  %>
                </td>
                <td>
                    <%= data[i].p_duration  %>
                </td>
                <td>
                    <%= data[i].p_irr  %>
                </td>
                <td>
                    <%= data[i].p_PSD  %>
                </td>
                <td>
                    <%= data[i].p_FMXAdate  %>
                </td>
                <td>
                    <%= data[i].p_CFSD  %>
                </td>
                <td>
                    <%= data[i].p_CFED  %>
                </td>
                <td>
                    <%= data[i].p_releasedate  %>
                </td>
                <td>
                    <%= data[i].p_validdate  %>
                </td>
                <td>
                    <%= data[i].p_size  %>
                </td>
                <td>
                    <%= data[i].p_totalrelease  %>
                </td>
                <td>
                    <%= data[i].p_fundmanager  %>
                </td>
                <td>
                    <%= data[i].p_state  %>
                </td>
                <!-- <td>
                    <%= data[i].p_FAY  %>
                </td> -->
                <!-- <td>
                    <%= data[i].p_FTRT  %>
                </td> -->
                <td>
                    <%= data[i].p_RPT  %>
                </td>
                <td>
                    <%= data[i].p_FRP  %>
                </td>
                <!-- <td>
                    <%= data[i].p_Timeline  %>
                </td> -->
                <td>
                    <%if (data[i].p_assetdocs != null && data[i].p_assetdocs !="") { %>
                    <a target="_blank"
                        href="<%= process.env['SERVER_PROTOCOL'] + '://' + process.env['SERVER_HOST'] + ':' + process.env['SERVER_PORT'] + '/' + data[i].p_assetdocs.replace('public','')  %>">doc</a>
                    <% } %>
                </td>
                <td>
                    <%if (data[i].p_icon != null && data[i].p_icon !="") { %>
                    <img src="<%= process.env['SERVER_PROTOCOL'] + '://' + process.env['SERVER_HOST'] + ':' + process.env['SERVER_PORT'] + '/' + data[i].p_icon.replace('public','')  %>" alt=""
                        style="width:50%;">
                    <% } %>
                </td>
                <td>
                    <button type="button" style="width: 101.25px;" id="paused<%= i %>" class="btn btn-danger"
                        name="refunded" value="refunded"
                        onclick="refunded('<%= data[i].p_SYMBOL  %>','refunded',this.id);">退款
                    </button>
                </td>
            </tr>
            <% } %>
            <% } %>
        </table>
    </div>
    <% } %>

    <!-- 已退款區：假如refunded狀態的產品數量>0，才顯示 -->
    <% var count=0 %>
    <% for ( var i = 0 ; i < data.length ; i++){ %>
    <%if (data[i].p_state =="refunded" ) { %>
    <% count++; %>
    <% } %>
    <% } %>
    <%if (count>0 ) { %>
    <div class="tableTitle bg-success Region"
        style="width:100%;height:50px;line-height:50px;text-align: center;font-size:20px;color:white;border-top:0.5px solid white;">
        <i class="fas fa-plus" style="display: none;"></i>
        <i class="fas fa-minus"></i>
        <span style="margin-left:15px;">已退款區</span>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <tr class="bg-success" style="color:white;">
                <th class="nowrap">Token代號</th>
                <th class="nowrap">產品名稱</th>
                <th class="nowrap">產品所在地</th>
                <th class="nowrap">產品定價</th>
                <th class="nowrap">幣別</th>
                <th class="nowrap">專案年期</th>
                <th class="nowrap">預期報酬率(%)</th>
                <th class="nowrap">專案開始日期</th>
                <th class="nowrap">FMS審核通過的日期</th>
                <th class="nowrap">募資起始日</th>
                <th class="nowrap">募資截止日</th>
                <th class="nowrap">產品發行日</th>
                <th class="nowrap">產品到期日</th>
                <th class="nowrap">專案規模(kw)</th>
                <th class="nowrap">產品總發行量(個)</th>
                <th class="nowrap">發行專案的產品經理</th>
                <th class="nowrap">該專案處理狀態</th>
                <!-- <th class="nowrap">預估平均年收益</th> -->
                <!-- <th class="nowrap">預估回收金額</th> -->
                <th class="nowrap">收益總期數</th>
                <th class="nowrap">預估回收年限</th>
                <!-- <th class="nowrap">預估進度圖</th> -->
                <th class="nowrap">購售電合約</th>
                <th class="nowrap">產品icon</th>
            </tr>
            <% for ( var i = 0 ; i < data.length ; i++){ %>
            <%if (data[i].p_state =="refunded" ) { %>
            <tr>
                <td>
                    <%= data[i].p_SYMBOL  %>
                </td>
                <td>
                    <%= data[i].p_name  %>
                </td>
                <td>
                    <%= data[i].p_location  %>
                </td>
                <td>
                    <%= data[i].p_pricing  %>
                </td>
                <td>
                    <%= data[i].p_currency  %>
                </td>
                <td>
                    <%= data[i].p_duration  %>
                </td>
                <td>
                    <%= data[i].p_irr  %>
                </td>
                <td>
                    <%= data[i].p_PSD  %>
                </td>
                <td>
                    <%= data[i].p_FMXAdate  %>
                </td>
                <td>
                    <%= data[i].p_CFSD  %>
                </td>
                <td>
                    <%= data[i].p_CFED  %>
                </td>
                <td>
                    <%= data[i].p_releasedate  %>
                </td>
                <td>
                    <%= data[i].p_validdate  %>
                </td>
                <td>
                    <%= data[i].p_size  %>
                </td>
                <td>
                    <%= data[i].p_totalrelease  %>
                </td>
                <td>
                    <%= data[i].p_fundmanager  %>
                </td>
                <td>
                    <%= data[i].p_state  %>
                </td>
                <!-- <td>
                    <%= data[i].p_FAY  %>
                </td> -->
                <!-- <td>
                    <%= data[i].p_FTRT  %>
                </td> -->
                <td>
                    <%= data[i].p_RPT  %>
                </td>
                <td>
                    <%= data[i].p_FRP  %>
                </td>
                <!-- <td>
                    <%= data[i].p_Timeline  %>
                </td> -->
                <td>
                    <%if (data[i].p_assetdocs != null && data[i].p_assetdocs !="") { %>
                    <a target="_blank"
                        href="<%= process.env['SERVER_PROTOCOL'] + '://' + process.env['SERVER_HOST'] + ':' + process.env['SERVER_PORT'] + '/' + data[i].p_assetdocs.replace('public','')  %>">doc</a>
                    <% } %>
                </td>
                <td>
                    <%if (data[i].p_icon != null && data[i].p_icon !="") { %>
                    <img src="<%= process.env['SERVER_PROTOCOL'] + '://' + process.env['SERVER_HOST'] + ':' + process.env['SERVER_PORT'] + '/' + data[i].p_icon.replace('public','')  %>" alt=""
                        style="width:50%;">
                    <% } %>
                </td>
            </tr>
            <% } %>
            <% } %>
        </table>
    </div>
    <% } %>

    <!-- 運營管理區：假如ONM狀態的產品數量>0，才顯示 -->
    <% var count=0 %>
    <% for ( var i = 0 ; i < data.length ; i++){ %>
    <%if (data[i].p_state =="ONM" ) { %>
    <% count++; %>
    <% } %>
    <% } %>
    <%if (count>0 ) { %>
    <div class="tableTitle bg-success Region"
        style="width:100%;height:50px;line-height:50px;text-align: center;font-size:20px;color:white;border-top:0.5px solid white;">
        <i class="fas fa-plus" style="display: none;"></i>
        <i class="fas fa-minus"></i>
        <span style="margin-left:15px;">運營管理區</span>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <tr class="bg-success" style="color:white;">
                <th class="nowrap">Token代號</th>
                <th class="nowrap">產品名稱</th>
                <th class="nowrap">產品所在地</th>
                <th class="nowrap">產品定價</th>
                <th class="nowrap">幣別</th>
                <th class="nowrap">專案年期</th>
                <th class="nowrap">預期報酬率(%)</th>
                <th class="nowrap">專案開始日期</th>
                <th class="nowrap">FMS審核通過的日期</th>
                <th class="nowrap">募資起始日</th>
                <th class="nowrap">募資截止日</th>
                <th class="nowrap">產品發行日</th>
                <th class="nowrap">產品到期日</th>
                <th class="nowrap">專案規模(kw)</th>
                <th class="nowrap">產品總發行量(個)</th>
                <th class="nowrap">發行專案的產品經理</th>
                <th class="nowrap">該專案處理狀態</th>
                <!-- <th class="nowrap">預估平均年收益</th> -->
                <!-- <th class="nowrap">預估回收金額</th> -->
                <th class="nowrap">收益總期數</th>
                <th class="nowrap">預估回收年限</th>
                <!-- <th class="nowrap">預估進度圖</th> -->
                <th class="nowrap">購售電合約</th>
                <th class="nowrap">產品icon</th>
            </tr>
            <% for ( var i = 0 ; i < data.length ; i++){ %>
            <%if (data[i].p_state =="ONM" ) { %>
            <tr>
                <td>
                    <%= data[i].p_SYMBOL  %>
                </td>
                <td>
                    <%= data[i].p_name  %>
                </td>
                <td>
                    <%= data[i].p_location  %>
                </td>
                <td>
                    <%= data[i].p_pricing  %>
                </td>
                <td>
                    <%= data[i].p_currency  %>
                </td>
                <td>
                    <%= data[i].p_duration  %>
                </td>
                <td>
                    <%= data[i].p_irr  %>
                </td>
                <td>
                    <%= data[i].p_PSD  %>
                </td>
                <td>
                    <%= data[i].p_FMXAdate  %>
                </td>
                <td>
                    <%= data[i].p_CFSD  %>
                </td>
                <td>
                    <%= data[i].p_CFED  %>
                </td>
                <td>
                    <%= data[i].p_releasedate  %>
                </td>
                <td>
                    <%= data[i].p_validdate  %>
                </td>
                <td>
                    <%= data[i].p_size  %>
                </td>
                <td>
                    <%= data[i].p_totalrelease  %>
                </td>
                <td>
                    <%= data[i].p_fundmanager  %>
                </td>
                <td>
                    <%= data[i].p_state  %>
                </td>
                <!-- <td>
                    <%= data[i].p_FAY  %>
                </td> -->
                <!-- <td>
                    <%= data[i].p_FTRT  %>
                </td> -->
                <td>
                    <%= data[i].p_RPT  %>
                </td>
                <td>
                    <%= data[i].p_FRP  %>
                </td>
                <!-- <td>
                    <%= data[i].p_Timeline  %>
                </td> -->
                <td>
                    <%if (data[i].p_assetdocs != null && data[i].p_assetdocs !="") { %>
                    <a target="_blank"
                        href="<%= process.env['SERVER_PROTOCOL'] + '://' + process.env['SERVER_HOST'] + ':' + process.env['SERVER_PORT'] + '/' + data[i].p_assetdocs.replace('public','')  %>">doc</a>
                    <% } %>
                </td>
                <td>
                    <%if (data[i].p_icon != null && data[i].p_icon !="") { %>
                    <img src="<%= process.env['SERVER_PROTOCOL'] + '://' + process.env['SERVER_HOST'] + ':' + process.env['SERVER_PORT'] + '/' + data[i].p_icon.replace('public','')  %>" alt=""
                        style="width:50%;">
                    <% } %>
                </td>
            </tr>
            <% } %>
            <% } %>
        </table>
    </div>
    <% } %>






    <!-- 按下退回時，要出現的產品備註(p_PANote)的Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">退回原因</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">請描述退回的原因:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="SaveNoteAndReturn()">Send message</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 按下緊急下架時，要出現的緊急下架的原因(p_abortedReason)的Modal -->
    <div class="modal fade" id="abortedReasonModal" tabindex="-1" role="dialog"
        aria-labelledby="abortedReasonModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">緊急下架的原因</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="abortedReasonMessage-text" class="col-form-label">請描述緊急下架的原因:</label>
                            <textarea class="form-control" id="abortedReasonMessage-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="Aborted('aborted',this.id);"
                        data-dismiss="modal">確定緊急下架</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script>
        function correctActualPayment(iaSymbol, iaTime ,ia_single_Actual_Income_Payment_in_the_Period, isState) {
            // alert(iaSymbol + "," + iaTime + "," + isState);
            document.getElementById("CorrectActualPaymentTokenSymbol").value = iaSymbol;
            document.getElementById("OriginalPaymentTime").value=iaTime;
            document.getElementById("CorrectActualPaymentNumber").value = ia_single_Actual_Income_Payment_in_the_Period;
            document.getElementById("CorrectActualPaymentResult").value=isState;
            document.getElementById('correctActualPaymentForm').submit();
        }


        function Edit(SYMBOL, State) {
            window.location.href = "/Product/EditProductByPlatformSupervisor?symbol=" + SYMBOL + "&State=" + State;
        }

        // 用來記錄當前被點到退回按鈕的產品SYMBOL
        var CurrentSYMBOL = "";
        // 用來設置CurrentSYMBOL
        function SetCurrentSYMBOL(SYMBOL) {
            CurrentSYMBOL = SYMBOL;
        }

        var CurrentBtnID = "";
        function SetCurrentButtonID(BtnID) {
            CurrentBtnID = BtnID;
        }

        // 儲存備注並退回
        function SaveNoteAndReturn() {
            var SYMBOL = CurrentSYMBOL;
            var NOTE = document.getElementById('message-text').value;
            // alert(SYMBOL);
            // alert(NOTE);
            window.location.href = "/Product/SetPANoteAndReturnByPA?symbol=" + SYMBOL + "&note=" + NOTE;
        }

        // 儲存緊急下架原因
        // function SaveAbortedReason(){
        //     var SYMBOL = CurrentSYMBOL;
        //     var NOTE = document.getElementById('abortedReasonMessage-text').value;
        //     alert(SYMBOL);
        //     alert(NOTE);
        // }

        // Modal觸發
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('whatever') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            // modal.find('.modal-title').text('New message to ' + recipient)
            // modal.find('.modal-body input').val(recipient)
        })

        // 緊急下架
        function Aborted(State, buttonID) {
            //等待狀態
            document.getElementById(CurrentBtnID).innerHTML = "<i class='fas fa-spinner fa-spin' style='font-size:24px'></i>";
            document.getElementById(CurrentBtnID).disabled = true;
            // alert(CurrentBtnID);

            tokenSymbol = CurrentSYMBOL;
            $.post("<%= process.env['SERVER_PROTOCOL'] + '://' + process.env['SERVER_HOST'] + ':' + process.env['SERVER_PORT'] + '/' + 'Contracts/crowdFundingContract/' %>" + tokenSymbol + "/terminate", {
                reason: document.getElementById('abortedReasonMessage-text').value
            }, function (result) {
                //var result = JSON.parse(resultJSON);
                console.log(result);

                if (result.TxResult.status == true) {
                    // 設定產品狀態為aborted
                    // 設置產品
                    $.post("<%= process.env['SERVER_PROTOCOL'] + '://' + process.env['SERVER_HOST'] + ':' + process.env['SERVER_PORT'] + '/' + 'Product/SetProductStateByPlatformSupervisor' %>", {
                        tokenState: State,
                        tokenSymbol: tokenSymbol
                    }, function (result) {
                        console.log(result);
                    })

                    // 設定p_abortedReason
                    $.post("<%= process.env['SERVER_PROTOCOL'] + '://' + process.env['SERVER_HOST'] + ':' + process.env['SERVER_PORT'] + '/' + 'Product/SetAbortedReasonByPA' %>", {
                        AbortedReason: document.getElementById('abortedReasonMessage-text').value,
                        tokenSymbol: CurrentSYMBOL
                    }, function (result) {
                        console.log(result);
                        //設置好後重新整理
                        location.reload();
                    });
                }
            });

        }

        // 恢復募資
        function FundingRestart(tokenSymbol, State, buttonID, CFED2, quantityMax) {
            //等待狀態
            document.getElementById(buttonID).innerHTML = "<i class='fas fa-spinner fa-spin' style='font-size:24px'></i>";
            document.getElementById(buttonID).disabled = true;

            $.post("<%= process.env['SERVER_PROTOCOL'] + '://' + process.env['SERVER_HOST'] + ':' + process.env['SERVER_PORT'] + '/' + 'Contracts/crowdFundingContract/' %>" + tokenSymbol + "/resume", {
                CFED2: CFED2,
                quantityMax: quantityMax
            }, function (result) {
                //var result = JSON.parse(resultJSON);
                console.log(result);

                if (result.TxResult.status == true) {
                    // 設置產品
                    $.post("<%= process.env['SERVER_PROTOCOL'] + '://' + process.env['SERVER_HOST'] + ':' + process.env['SERVER_PORT'] + '/' + 'Product/SetProductStateByPlatformSupervisor' %>", {
                        tokenState: State,
                        tokenSymbol: tokenSymbol
                    }, function (result) {
                        console.log(result);
                        // 設置好後重新整理
                        location.reload();
                    })
                }
            });
        }

        // 退款
        function refunded(tokenSymbol, State, buttonID) {
            //等待狀態
            document.getElementById(buttonID).innerHTML = "<i class='fas fa-spinner fa-spin' style='font-size:24px'></i>";
            document.getElementById(buttonID).disabled = true;
            // 設置產品
            $.post("<%= process.env['SERVER_PROTOCOL'] + '://' + process.env['SERVER_HOST'] + ':' + process.env['SERVER_PORT'] + '/' + 'Product/SetProductStateByPlatformSupervisor' %>", {
                tokenState: State,
                tokenSymbol: tokenSymbol
            }, function (result) {
                console.log(result);
                // 設置好後重新整理
                location.reload();
            })

        }

        // 暫停募資
        function FundingPaused(tokenSymbol, State, buttonID) {
            //等待狀態
            document.getElementById(buttonID).innerHTML = "<i class='fas fa-spinner fa-spin' style='font-size:24px'></i>";
            document.getElementById(buttonID).disabled = true;

            $.post("<%= process.env['SERVER_PROTOCOL'] + '://' + process.env['SERVER_HOST'] + ':' + process.env['SERVER_PORT'] + '/' + 'Contracts/crowdFundingContract/' %>" + tokenSymbol + "/pause", function (result) {
                //var result = JSON.parse(resultJSON);
                console.log(result);

                if (result.TxResult.status == true) {
                    // 設置產品
                    $.post("<%= process.env['SERVER_PROTOCOL'] + '://' + process.env['SERVER_HOST'] + ':' + process.env['SERVER_PORT'] + '/' + 'Product/SetProductStateByPlatformSupervisor' %>", {
                        tokenState: State,
                        tokenSymbol: tokenSymbol
                    }, function (result) {
                        console.log(result);
                        // 設置好後重新整理
                        location.reload();
                    })

                }
            });

        }

        // 上架 = 募資
        function Fund(tokenSymbol, tokenPrice, currency, quantityMax, CFSD2, CFED2, fundingGoal, State, IncomeCSVFilePath, buttonID) {
            // 等待狀態
            document.getElementById(buttonID).innerHTML = "<i class='fas fa-spinner fa-spin' style='font-size:24px'></i>";
            document.getElementById(buttonID).disabled = true;

            console.log(tokenSymbol);
            console.log("State:" + State);
            console.log("deploying...");
            console.log(fundingGoal);

            // 將IncomeCSV文件寫入資料庫
            $.post("<%= process.env['SERVER_PROTOCOL'] + '://' + process.env['SERVER_HOST'] + ':' + process.env['SERVER_PORT'] + '/' + 'Product/IncomeCSV' %>", {
                IncomeCSVFilePath: IncomeCSVFilePath
            }, function (result) {
                console.log(result);
                console.log(result.isSuccess);
                if(result.isSuccess){
                    /*部署CrowdFundingContract*/
                    $.post("<%= process.env['SERVER_PROTOCOL'] + '://' + process.env['SERVER_HOST'] + ':' + process.env['SERVER_PORT'] + '/' + 'Contracts/crowdFundingContract/' %>" + tokenSymbol, {
                        tokenPrice: tokenPrice,
                        currency: currency,
                        quantityMax: quantityMax,
                        CFSD2: CFSD2,
                        CFED2: CFED2,
                        fundingGoal: fundingGoal
                    }, function (result) {
                        //var result = JSON.parse(resultJSON);
                        // console.log(result);
                        if (result.status == true) {
                            // 設置產品狀態
                            $.post("<%= process.env['SERVER_PROTOCOL'] + '://' + process.env['SERVER_HOST'] + ':' + process.env['SERVER_PORT'] + '/' + 'Product/SetProductStateByPlatformSupervisor' %>", {
                                tokenState: State,
                                tokenSymbol: tokenSymbol
                            }, function (result) {
                                console.log(result);
                                // 設置好後重新整理
                                location.reload();
                            })
                        }
                    });
                }else{
                    alert(result.messageForUser);
                    location.reload();
                }
            })



        }

        //募資結束
        function FundingFinished(nftName, nftSymbol, maxTotalSupply, initialAssetPricing, pricingCurrency, siteSizeInKW, irr, buttonID, TimeOfDeployment, TimeTokenValid, lockupperiod, HCAT721uri) {
            $.get("<%= process.env['SERVER_PROTOCOL'] + '://' + process.env['SERVER_HOST'] + ':' + process.env['SERVER_PORT'] + '/' + 'Contracts/crowdFundingContract/' %>" + nftSymbol + "/status", function (result) {
                console.log(result);
                console.log(result.fundingState);

                if (result.fundingState == 4) {
                    console.log(nftSymbol);
                    console.log(result.fundingState);
                    console.log(buttonID);
                    console.log(lockupperiod);

                    // 等待狀態
                    document.getElementById(buttonID).innerHTML = "<i class='fas fa-spinner fa-spin' style='font-size:24px'></i>";
                    document.getElementById(buttonID).disabled = true;

                    $.post("<%= process.env['SERVER_PROTOCOL'] + '://' + process.env['SERVER_HOST'] + ':' + process.env['SERVER_PORT'] + '/' + 'Contracts/crowdFundingContract/' %>" + nftSymbol + "/closeFunding", {
                        "TimeOfDeployment": TimeOfDeployment,
                        "TimeTokenUnlock": lockupperiod,
                        "TimeTokenValid": TimeTokenValid,
                        "nftName": nftName,
                        "siteSizeInKW": siteSizeInKW,
                        "maxTotalSupply": maxTotalSupply,
                        "initialAssetPricing": initialAssetPricing,
                        "pricingCurrency": pricingCurrency,
                        "IRR20yrx100": parseInt(irr * 100),
                        "tokenURI": HCAT721uri,
                        "crowdFundingCtrtAddr": result.crowdFundingAddr
                    }, function (result) {
                        console.log(result);
                        location.reload();
                    });


                } else if (result.fundingState == 5) {
                    document.getElementById(buttonID).innerHTML = "<i class='fas fa-spinner fa-spin' style='font-size:24px'></i>";
                    document.getElementById(buttonID).disabled = true;
                    // 設置產品
                    $.post("<%= process.env['SERVER_PROTOCOL'] + '://' + process.env['SERVER_HOST'] + ':' + process.env['SERVER_PORT'] + '/' + 'Product/SetProductStateByPlatformSupervisor' %>", {
                        tokenState: "FundingNotClosed",
                        tokenSymbol: nftSymbol
                    }, function (result) {
                        console.log(result);
                        // 設置好後重新整理
                        location.reload();
                    })
                } else {
                    alert(result.stateDescription);
                    location.reload();
                }
            })


        }

        const MintTokens = async(nftSymbol, price, fundingType, State, buttonID) => {
            console.log(`nftSymbol: ${nftSymbol}, State: ${State}, buttonID: ${buttonID}`);
            document.getElementById(buttonID).innerHTML = "<i class='fas fa-spinner fa-spin' style='font-size:24px'></i>";
            document.getElementById(buttonID).disabled = true;

            const config={
              proxy: {
                host: 'localhost',
                port: 3030,
              },
            }
            const url2='/Contracts/HCAT721_AssetTokenContract/'+nftSymbol+'/mintSequentialPerCtrt';
            const response2 = await axios.post(url2, {}, config).catch(err => { 
              console.log('err:',err);
            });
            const data2 = response2.data;
            console.log(`response2: ${response2} \nsuccess: ${data2.success}
result: ${JSON.stringify(data2.result)} \n-----------------==about to reload...`);
            location.reload();

            // await $.post("http://localhost:3030/Contracts/HCAT721_AssetTokenContract/" + nftSymbol + "/mintSequentialPerCtrt", {
            //   }, async function (result) {
            //       console.log(result);
            //       // 設置好後重新整理
            //       location.reload();
            //   })
        }

        // 發放代幣
        function Release(nftSymbol, price, fundingType, State, buttonID) {
            console.log(nftSymbol);
            console.log(State);
            console.log(buttonID);

            // 等待狀態
            document.getElementById(buttonID).innerHTML = "<i class='fas fa-spinner fa-spin' style='font-size:24px'></i>";
            document.getElementById(buttonID).disabled = true;

            $.get("<%= process.env['SERVER_PROTOCOL'] + '://' + process.env['SERVER_HOST'] + ':' + process.env['SERVER_PORT'] + '/' + 'Contracts/HCAT721_AssetTokenContract/' %>" + nftSymbol, async function (result) {
                console.log(result);
                console.log(result.result.sc_erc721address);
                let erc721address = result.result.sc_erc721address;
                let crowdFundingCtrtAddr = result.result.sc_crowdsaleaddress;
                let tokenControllerCtrtAddr = result.result.sc_erc721Controller;


                $.get("<%= process.env['SERVER_PROTOCOL'] + '://' + process.env['SERVER_HOST'] + ':' + process.env['SERVER_PORT'] + '/' +  'Contracts/crowdFundingContract/' %>" + nftSymbol + "/investors", async function (result) {
                    console.log(result);
                    let assetBookAddrs = result[0];
                    let amounts = result[1];

                    console.log(assetBookAddrs);
                    console.log(assetBookAddrs.length);
                    console.log(amounts);
                    console.log(amounts.length);
                    console.log("minting...");
                    await $.post("<%= process.env['SERVER_PROTOCOL'] + '://' + process.env['SERVER_HOST'] + ':' + process.env['SERVER_PORT'] + '/' + 'Contracts/HCAT721_AssetTokenContract/' %>" + nftSymbol + "/mintSequentialPerCtrt", {
                        toAddressArray: assetBookAddrs.join(),
                        erc721address: erc721address,
                        amountArray: amounts.join(),
                        price: price,
                        fundingType: fundingType
                    }, async function (result) {
                        console.log(result);
                        // 設置好後重新整理
                        location.reload();
                    })

                });
            });
        }


    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="/js/SignOut.js"></script>
    <script>
        $('.Region').click(function () {
            $(this).next(".table-responsive").slideToggle(600);
            $(this).children(".fa-plus").toggle();
            $(this).children(".fa-minus").toggle();
        });
    </script>


</body>

</html>