<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Product - List</h1>
    <input type='submit' value='Add' onclick="javascript: location.href='/Product/GET/AddProduct'">
    <table>
        <tr>
            <th>Token代號(SYMBOL)</th>
            <th>產品名稱(name)</th>
            <th>產品所在地(location)</th>
            <th>單片售價(pricing)</th>
            <th>專案年期(duration)</th>
            <th>貨幣種類(currency)</th>
            <th>投報率(irr)</th>
        </tr>
        <% for ( var i = 0 ; i < data.length ; i++){ %>
            <tr>
                <td>
                    <%= data[i].p_SYMBOL  %>
                </td>
                <td>
                    <%= data[i].p_name  %>
                </td>
                <td>
                    <%= data[i].p_location  %>
                </td>
                <td>
                    <%= data[i].p_pricing  %>
                </td>
                <td>
                    <%= data[i].p_duration  %>
                </td>
                <td>
                    <%= data[i].p_currency  %>
                </td>
                <td>
                    <%= data[i].p_irr  %>
                </td>
                <td>
                    <input type="button" name="edit" value="Edit" onclick="Edit('<%= data[i].SYMBOL  %>');" />
                </td>
                <td>
                    <input type="button" name="delete" value="Delete" onclick="Delete('<%= data[i].SYMBOL  %>');" />
                </td>
                <!-- onclick="Edit('<%= data[i].id  %>');" -->
            </tr>
            <% } %>
    </table>

    <script>
        function Edit(SYMBOL) {
            window.location.href = "/Product/GET/EditProduct?SYMBOL=" + SYMBOL;
        }
        function Delete(SYMBOL) {
            var rs = confirm('Confirm to delete?');
            if (rs) {
                window.location.href = "/Product/GET/DeleteProduct?SYMBOL=" + SYMBOL;
            }
        }
    </script>

  </body>
</html>
